body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:beige;
    height: 1000px;
}

hr{
    width: 500px;
    height: 3px;
    background-color: black;
}

#board{
    width: 450px;
    height: 450px;

    background-color: yellow;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
/* Size of Each Tile */
.tile{
    width: 147px;
    height: 147px;

    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-line {
    border-bottom: 3px solid black;
}

.vertical-line {
    border-right: 3px solid black;
}

.winner {
    background-color: lightgray;
    color: red;
}
.button{
    background-color: black;
    color: white;
    border-radius: 5px;
    border-style: none;
    width: 70px;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    
}

html {
    scroll-behavior: smooth;
}

footer {
    margin-top: 120px;
    font-weight: 400;
    position: fixed;
    bottom: 10px;
    right: 45%;
    word-spacing: 3px;
}
